@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.clear {
    clear: both;
}

.main-banner {
    width: 100%;
    height: 522px;
    background-image: url('../images/header-img.jpg');
    opacity: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    width: 100%;
    height: 522px;
    background-color: rgba(31, 21, 140, 0.58);
}

.dankilogo {
    font-family: 'Montserrat Alternates', sans-serif;;
    font-size: 25px;
    color: white;
    background-color: rgba(82, 47, 151, 0.562);
    padding: 20px;
    float: left;
    border-radius: 50px;
    margin: 50px 0px 0px 50px;
}

.menu-header {
    width: 500px;
    height: 50px;
    float: right;
    margin: 70px 6% 0px 0px;
}

nav div.menu-header a {
    color: #ffffffbd;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;
    font-weight: 300;
    text-shadow: black 2px 2px 5px;
    display: block;
    float: right;
}

nav div.menu-header a[id="home"] {
    width: 47.781px;
}

nav div.menu-header a[id="serviços"] {
    width: 70px;
}

nav div.menu-header a[id="sobre"] {
    width: 50px;
}

nav div.menu-header a[id="contato"] {
    width: 66px;
}
nav div.menu-header a:active {
    font-size: 21px;
}

nav div.menu-header a:hover {
    font-weight: 400;
}

aside {
    font-family: 'Lato', sans-serif;
    color: white;
    width: 400px;
    margin: 90px auto;
    text-shadow: black 2px 2px 5px;
    position: relative;
    left: 150px;
}

aside h1 {
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 15px;
    width: 400px;
}

aside p {
    font-weight: 300;
    width: 400px;
}

.first {
    background-color: #5e3ea0;
}

.first-content {
    max-width: 1200px;
    height: 300px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: #ffffffbd;
    text-shadow: black 2px 2px 5px;
    position: relative;
}

.first-content-text {
    padding: 50px 0px 0px 2%;
    float: left;
}

.first-content-text h2 {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 20px;
}

.first-content-text p {
    font-size: 18px;
}

.first-content-text ul {
    list-style-position: inside;
}

.first-content-text input[type="submit"] {
    margin-top: 20px;
    background-color: #FE8544;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 70px;
    cursor: pointer;
    display: block;
}

.first-content-text input[type="submit"]:hover {
    background-color: #e7793d;
}

input[type="submit"]:active {
    font-size: 12.5px;
}

input[type="submit"]:focus {
    outline: none;
}

.first-content-img {
    float: left;
    width: 380px;
    position: absolute;
    left: 500px;
    top: -79px;
}

.first-content-img img {
    width: 100%;
}

.second {
    height: 500px;
}

.second-content {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    color: black;
}

.second-content h2 {
    font-weight: 300;
    font-size: 30px;
    padding: 80px 0px 40px 0px;
}

.second-content p {
    font-size: 18px;
    padding: 0px 90px;
    line-height: 28px;
}

.floated {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.185);
}

.float2 {
    --aspect-ratio: 16/9;
    height: 0;
    padding-bottom: Calc(100% / (var(--aspect-ratio)));
    position: relative;
}

.float2 iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team {
    display: flex;
    height: 400px;
    font-family: 'Lato', sans-serif;
}
.third {
    background-color: #7e56cf;
    width: 50%;
    height: 100%;
    color: #ffffffbd;
    text-align: right;
    padding: 190px 20px 0px 0px;
    line-height: 25px;
}

.third-content {
    width: 400px;
    float: right;
}

.third h2 {
    margin-bottom: 5px;
}

.fourth {
    width: 50%;
    height: 100%;
    background-color: rgba(247, 248, 255, 0.87);
    color: black;
    padding: 180px 300px 0px 20px;
    line-height: 25px;
}

.fourth-content {
    width: 400px;
}

.fourth-titles {
    display: inline-block;
}

.fourth h3 {
    font-weight: 300;
    font-size: 14px;
}

.fourth #profile {
    display: inline-block;
    width: 60px;
    vertical-align: bottom;
}

.icons {
    margin-top: 10px;
    width: 35px;
}

.final {
    background-color: #553372;
    height: 400px;
}

.final-content {
    display: flex;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

.final-content-contact {
    width: 50%;
    padding: 60px 20px;
}

.final-content-contact-left {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}

.final-content-contact-left h2 {
    font-weight: 300;
    margin-bottom: 10px;
}

.final-content-contact-left p {
    margin-bottom: 10px;
}

.final-content-contact-left input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
}

.final-content-contact-left input:focus {
    outline: none;
}

.final-content-contact-left input[type="submit"] {
    margin-top: 10px;
    background-color: #FE8544;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.final-content-contact-left input[type="submit"]:hover {
    background-color: #e7793d;
}

.final-content-visitus {
    width: 50%;
    padding: 60px 20px;
}

.final-content-visitus-right {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.final-content-visitus-right h2 {
    font-weight: 300;
    margin-bottom: 10px;
}

.final-content-visitus-right img {
    width: 85%;
}

footer {
    background-color: #1B252C;
    height: 80px;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.footer-content {
    margin: 0 auto;
    max-width: 900px;
    color: #ffffffbd;
    font-size: 12px;
    padding-top: 30px;
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
}

@media screen and (max-width: 1095px) {
    .floated {
        max-width: 550px;
    }
}

@media screen and (max-width: 909px) {
    .floated {
        max-width: 470px;
    }
}

@media screen and (max-width: 792px) {
    .menu-header {
        width: 400px;
    }
    
    .first-content-img {
        width: 300px;
        position: absolute;
        left: 400px;
        top: 2px;
    }

    .team {
        min-height: 450px;
    }

    .third-content {
        width: 100%;
    }

    .third-content p {
        padding-left: 5%;
    }

    .fourth-content {
        width: 350px;
    }

}

@media screen and (max-width: 350px) {

    .main-banner {
        height: 400px;
    }

    .overlay {
        height: 100%;
    }
    .dankilogo {
        font-size: 18px;
        padding: 15px;
        float: none;
        width: 135px;
        border-radius: 50px;
        margin: 0 auto;
        position: relative;
        top: 30px;
    }

    .menu-header {
        width: 335px;
        height: 50px;
        float: none;
        margin: 50px auto;
    }
    
    nav div.menu-header a {
        margin: 0px 10px;
        display: inline-block;
        float: none;
    }

    aside {
        width: 300px;
        margin: 30px auto;
        position: initial;
        left: 0px;
    }
    
    aside h1 {
        font-size: 25px;
        width: 100%;
        text-align: center;
    }
    
    aside p {
        text-align: center;
        width: 100%;
    }

    .first-content-text {
        padding: 10px 3% 3% 3%;
        float: none;

    }

    .first-content-text h2{
        text-align: center;
    }

    .first-content-text input{
        margin: 0 auto;
    }
    .first-content-img {
        display: none;
    }

    .second {
        height: 630px;
    }
    
    .second-content {
        text-align: justify;
    }
    
    .second-content h2 {
        font-size: 25px;
        padding: 20px 4%;
    }
    
    .second-content p {
        font-size: 15px;
        padding: 0px 18px;
    }

    .floated {
        max-width: 320px;
        top: 10px;
    }

    .team {
        display: block;
        height: unset;
    }

    .third {
        width: 100%;
        text-align: justify;
        padding: 10px 20px;
    }

    .third-content {
        width: 100%;
        float: none;
    }

    .third-content p {
        padding: 0;
    }

    .fourth {
        width: 100%;
        height: unset;
        padding: 20px 20px;
    }
    
    .fourth-content {
        width: 100%;
    }
    
    .fourth-content p {
        text-align: justify;
    }
    .fourth #profile {
        width: 55px;
    }

    .final {
        height: 700px;
    }

    .final-content {
        display: block;
        height: unset;
    }
    
    .final-content-contact {
        width: 100%;
        padding: 30px 0px;
    }
    
    .final-content-contact-left {
        width: 90%;
    }

    .final-content-visitus {
        width: 100%;
        padding: 10px 0px;
    }
    
    .final-content-visitus-right {
        width: 100%;
    }
    
    .footer-content {
        font-size: 12px;
        padding-top: 20px;
        text-align: center;
        line-height: 25px;
    }
    
    #footer-left {
        float: none;
    }
    
    #footer-right {
        float: none;
    }
}